body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
#gameArea {
  position: relative;
  width: 800px;
  height: 600px;
  border: 2px solid white;
  background-color: black;
  overflow: hidden; /* Empêche les étoiles de déborder */
}

.star {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.scoreboard {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.score-change {
  animation: pulse 0.5s;
}

#tableau {
  position: absolute;
  width: 20%;  
  top: 30%;
  left: 75%;
  margin-left: auto;  
  margin-right: 10%;  
  text-align: center;  
  color: white;
  border: 1px solid white;
}